@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
  themes: light --default, dark;
}

:root {
  --bg-primary: #ffffff;
  --text-primary: #3C3C3C;
}

.dark {
  --bg-primary: #2E2E2E;
  --text-primary: #F0F0F0;
}

body {
  font-family: "Cairo", sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

button:not(:disabled),
a[href],
select:not(:disabled),
[role="button"] {
  cursor: pointer;
}

button:disabled,
select:disabled {
  cursor: not-allowed;
}

@theme {
  --font-cairo: "Cairo", sans-serif;
}




